.divLogin{
    width: 100%;
    height: 100vh;
    background: #EFEFEF;
    position: absolute;
}

.contenedorLogin{
    width: 30%;
    height: 700px;
    margin-left: 35%;
    /* background: white; */
    float: left;
}

.divTituloLogin{
    width: 100%;
    height: 120px;
    /* background: blue; */
    float: left;
}

.divTituloLogin h2{
    /* text-align: center; */
    font-size: 35px;
    margin-top: 20px;

}

.divTituloLogin p{
    /* text-align: center; */
    font-size: 20px;
    margin-top: 10px;
}

.divLogin form{
    width: 100%;
    height: 580px;
    /* background: blueviolet; */
    float: left;
}

.divLogin form input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #C5C5C5;
    margin-top: 15px;
}

.divLogin form input[type='radio']{
    width: 5%;
    height: 20px;
    margin-left: 5%;
    margin-top: 20px;
}

.divLogin form input[type='file']{
    background: white;
}

.divLogin form input::placeholder{
    font-size: 20px;
}

.divLogin form input[type='submit']{
    width: 45%;
    background: #739446;
    color: white;
    font-size: 20px;
    border: 1px solid gray;
    cursor: pointer;
}

.divLogin form input[type='submit']:hover{
    background: #8CB159;
}
