.divFoto{
    width: 75%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.divIzquierdaFoto{
    width: 9%;
    height: 100%;
    float: left;
}

.divIzquierdaFoto input{
    width: 40%;
    height: 45px;
    border: none;
    font-size: 30px;
    margin-top: 20px;
    border-radius: 50%;
    margin-left: 30%;
    cursor: pointer;
}

.divFotoFoto{
    width: 82%;
    height: 100%;
    float: left;
}

.divFotoFoto img{
    width: 100%;
    height: 100%;
}

.divDerechaFoto{
    width: 25%;
    margin-left: 75%;
    margin-top: 60px;
    height: 100vh;
    position: fixed;
    background: #F3F8FB;
    z-index: 1;
}

.divDatosUsuarioFoto{
    width: 94%;
    margin-left: 3%;
    height: 230px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.divMegustaComentarios{
    width: 94%;
    margin-left: 3%;
    height: 50px;
    border-bottom: 1px solid #CCCCCC;
}

.divImagenUsuarioFoto{
    width: 9%;
    margin-left: 2%;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #2F85FC;
    margin-top: 20px;
    height: 40px;
    float: left;
}

.divImagenUsuarioFoto img{
    width: 100%;
    height: 40px;
}

.divNombreUsuarioFoto{
    margin-top: 20px;
    margin-left: 3%;
    float: left;
}

.divTituloFoto{
    width: 100%;
    min-height: 50px;

    margin-top: 10px;
    float: left;
}

.divBotonBorrar{
    width: 100%;
    height: 50px;
    /* background: burlywood; */
    margin-top: 5px;
    float: left;
}

.divBotonBorrar input{
    width: 20%;
    border-radius: 5px;
    border: none;
    background: #D5D5D5;
    cursor: pointer;
    color: white;
    font-size: 20px;
    height: 50px;
}

.divBotonBorrar input:hover{
    background: #F0F0F0;
}

.divIconoLikes{
    width: 100%;
    height: 45px;
    /* background: blueviolet; */
    margin-top: 5px;
    float: left;
}

.labeLike{
    width: 5.5%;
    height: 23px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 50%;
    background: #2F85FC;
    box-shadow: 0px 0px 5px gray;
    float: left;
}

.labelCantidadComentarios{
    margin-top: 10px;
    float: right;
}

.cajitaIconos{
    width: 50%;
    height: 50px;
    cursor: pointer;
    float: left;
}

.cajitaIconos label{
    margin-left: 10%;
    float: left;
    margin-top: 10px;
    font-size: 20px;    
    color: #7D7D7D;
}

.cajitaIconos p{
    margin-left: 5%;
    float: left;
    margin-top: 13px;
    font-size: 17px;
    color:#7D7D7D;
}

.cajitaIconos:hover{
    background: #E1E1E1;
}

.divDerechaFoto form{
    width: 94%;
    margin-left: 3%;
    height: 50px;
    overflow: hidden;
    margin-top: 10px;
    /* background: violet; */
    float: left;
}

.divFotoUsuarioFormulario{
    width: 7%;
    margin-left: 2%;
    margin-top: 10px;
    height: 30px;
    overflow: hidden;
    border-radius: 50px;
    border: 2px solid #2F85FC;
    float: left;
}

.divFotoUsuarioFormulario img{
    width: 100%;
    height: 30px;
}

.divDerechaFoto form input{
    margin-left: 2%;
    border-radius: 15px;
    width: 70%;
    height: 40px;
    border: none;
    background:#E2E9F3;
    margin-top: 5px;
}

.divDerechaFoto form input::placeholder{
    text-align: center;
}