.divFoto{
    width: 75%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.divIzquierdaFoto{
    width: 9%;
    height: 100%;
    float: left;
}

.divIzquierdaFoto input{
    width: 40%;
    height: 45px;
    border: none;
    font-size: 30px;
    margin-top: 20px;
    border-radius: 50%;
    margin-left: 30%;
    cursor: pointer;
}

.divFotoFoto{
    width: 82%;
    height: 100%;
    float: left;
}

.divFotoFoto img{
    width: 100%;
    height: 100%;
}

.divDerechaFoto{
    width: 25%;
    margin-left: 75%;
    margin-top: 60px;
    height: 100vh;
    position: fixed;
    background: #F3F8FB;
    z-index: 1;
}

.divDatosUsuarioFoto{
    width: 94%;
    margin-left: 3%;
    height: 275px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}


.divImagenUsuarioFoto{
    width: 9%;
    margin-left: 2%;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #2F85FC;
    margin-top: 20px;
    height: 40px;
    cursor: pointer;
    float: left;
}

.divImagenUsuarioFoto img{
    width: 100%;
    height: 42px;
}

.divNombreUsuarioFoto{
    margin-top: 20px;
    margin-left: 3%;
    float: left;
}

.divTituloFoto{
    width: 100%;
    min-height: 50px;

    margin-top: 10px;
    float: left;
}

.divBotonBorrar{
    width: 100%;
    height: 50px;
    margin-top: 5px;
    float: left;
}

.divBotonBorrar input{
    width: 20%;
    border-radius: 5px;
    border: none;
    background: #D5D5D5;
    cursor: pointer;
    color: white;
    font-size: 20px;
    height: 50px;
}

.divBotonBorrar input:hover{
    background: #F0F0F0;
}
