.divContenedorFotos{
    width: 58%;
    margin-left: 21%;
    min-height: 300px;
    margin-top: 20px;
    border-radius: 5px;
    background: white;
    border: 1px solid #DCDCDC;
    float: left;
}

.divFDotoContenedorFoto{
    width: 100%;
    height: 50px;
    float: left;
}

.divFDotoContenedorFoto h3{
    margin-left: 2%;
    margin-top: 10px;
}

.divFotoContenedorFoto{
    width: 23%;
    margin: 8px;
    height: 250px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    float: left;
}

.divFotoContenedorFoto img{
    width: 100%;
    height: 250px;
}