.asideRight{
    width: 22%;
    margin-left: 78%;
    margin-top: 68px;
    height: 800px;
    background: #F3F8FB;
    position: fixed;
}

.asideRight h3{
    margin-top: 20px;
    color: #A4A4A4;
    margin-left: 2%;
}
.asideRight:hover{
    overflow-y: scroll;
}

.asideRight::-webkit-scrollbar{
    width: 1%;
    background: #ccc;
    border-radius: 4px;
}

.asideRight::-webkit-scrollbar-thumb{
    background: #ABABAB;
}

.divPublicidad{
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #BBBBBB;
}

.divUsuariosSeguidos{
    min-height: 500px;
}

.contenedorUsuarioSeguidos{
    width: 95%;
    height: 50px;  
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    float: left;
}

.contenedorUsuarioSeguidos:hover{
    background: #F1F1F1;
}

.divImagenUsuariosSeguidos{
    width: 12%;
    height: 40px;
    margin-top: 5px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 2%;
    background: blue;
    float: left;
}

.divImagenUsuariosSeguidos img{    
    width: 100%;
    height: 40px;
}

.contenedorUsuarioSeguidos p{
    margin-top: 12px;
    margin-left: 2%;
    float: left;
}
