.formularioComentarios{
    width: 94%;
    margin-left: 3%;
    height: 450px;
    margin-top: 5px;
    /* overflow-y: scroll; */
    float: left;
}

.cajaComentario{
    width: 94%;
    margin-left: 3%;
    min-height: 80px;
    overflow: hidden;
    margin-top: 10px;
    /* background: violet; */
    float: left;
}

.contenedorComentario{
    height: 370px;
    overflow-y: scroll;
}

.contenedorComentario::-webkit-scrollbar{
    width: 1%;
    background: #ccc;
    border-radius: 4px;
}

.contenedorComentario::-webkit-scrollbar-thumb{
    background: #ABABAB;
}

.divComentario{
    margin-left: 2%;
    border-radius: 15px;
    width: 80%;
    min-height: 70px;
    border: none;
    background:#E2E9F3;
    margin-top: 5px;
    float: left;
}

