*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4C4C4C;
}

.contenedor{
    width: 100%;
    min-height: 700px;
    /* background: gray; */
    float: left;
}