.divInicio{
    width: 55%;
    margin-left: 20%;
    margin-top: 68px;
    min-height: 800px;
    color: #4C4C4C;
    background:#F3F8FB;
    float: left;
}

.articleInicio{
    width: 70%;
    margin-left: 20%;
    min-height: 840px;
    margin-top: 30px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 0px 1px gray;
    float: left;
}

.tituloUsuarioInicio{
    width: 100%;
    min-height: 100px;
    border-bottom: 1px solid gray;    
}

.imagenUsuariiInicio{
    width: 8%;
    height: 50px;
    margin-left: 2%;
    overflow: hidden;
    /* border: 2px solid #2F85FC; */
    border-radius: 50%;
    margin-top: 10px;
    cursor: pointer;
    float: left;
}

.parafoTitulo{
    width: 100%;
    min-height: 40px;
    /* background: blueviolet; */
    float: left;
}

.imagenUsuariiInicio img{
    width: 100%;
    height: 50px;
}

.parrafosInicio{
    width: 80%;
    margin-top: 10px;
    margin-left: 1%;
    font-size: 13px;
    float: left;
}

.parrafosInicioBajo{
    width: 90%;
    margin-top: 10px;
    margin-left: 2%;
    /* float: left; */
}

.divImagenInicio{
    width: 100%;
    height: 570px;
    cursor: pointer;
    float: left;
}

.divImagenInicio img{
    width: 100%;
    height: 570px;
}

.divLikesInicio{
    width: 100%;
    height: 50px;
    background: blue;
    float: left;
}

.divMegustaInicio{
    width: 100%;
    height: 55px;
    background: burlywood;
    float: left;
}


